<!DOCTYPE html>
<html>
<head>
  
    <title>index page</title>
   <link rel="stylesheet" type="text/css" href="../css/home.css">
   
</head>
<body>
     {{>navbar}}    
    <div class="main">
<center><h1>Home page.....</h1></center>
    <center><h3>Welcome to the home page of sample web application in Node js...</h3></center>
    </div>
</body>
</html>