<!DOCTYPE>
<html>

<head>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="row">
        <div class="col">
            <img src="../img/index.jpg" class="img">
        </div>

        <div class="col">
            <header class="header"><b>Login To Your Portal</b></header>
            <form action="/login" method="POST">

                <input type="email" name="email" required="" class="inputbox" placeholder="Eneter Your Email">
                <br><br>
                <input type="password" name="password" required="" class="inputbox" placeholder="Enter Your Password">
                <br><br>
                <input type="submit" name="Submit" class="myButton" value="Login"><br><br>
                <label>New User...??</label> <a href="/register">Sign Up</a>
                <br><br><br><br>

            </form>
        </div>
    </div>
</body>

</html>