<Html>
<head>
    <title>
        Registration Page
    </title>
    <link rel="stylesheet" type="text/css" href="../css/register.css">

</head>

<body>
    <div class="main">
        <div class="container">
            <center><br>
                <header class="header">Register Here...</header><br><br>
                <form action="/register" method="POST">

                    {{!-- <label> Firstname </label> --}}
                    <input type="text" name="firstname" size="15" class="inputbox"
                        placeholder="Enter your first name" /> <br><br>
                    {{!-- <label> Lastname: </label> --}}
                    <input type="text" name="lastname" size="15" class="inputbox" placeholder="Enter your last name" />
                    <br><br>
                    <label>
                        Gender :
                    </label>
                    <input type="radio" name="gender" value="male" /> <span>male</span>

                    <input type="radio" name="gender" value="female" /> <span>female</span><br><br>
                    {{!--
                    <label>
                        Phone :
                    </label> --}}

                    <input type="text" name="phone" size="10" class="inputbox" placeholder="Enter your mobile number" />
                    <br> <br>

                    {{!-- Email: --}}
                    <input type="email" id="email" name="email" class="inputbox" placeholder="Enter your email-id" />
                    <br> <br>
                    {{!-- Password: --}}
                    <input type="Password" id="pass" name="password" class="inputbox"
                        placeholder="Enter your password" />
                    <br> <br>
                    {{!-- Re-type password: --}}
                    <input type="Password" id="repass" name="confirmpassword" class="inputbox"
                        placeholder="Enter your confirm password" /> <br> <br>
                    <input type="submit" value="Register" class="myButton" />
                </form>
            </center>
        </div>
    </div>
</body>

</html>