<!DOCTYPE html>
<html>
<head>
  
    <title>Secret page</title>
   <link rel="stylesheet" type="text/css" href="../css/home.css">
   
</head>
<body>
     {{>navbar}}    
    <div class="main">
<center><h1>This is the secret page which is accssible to the valid user only who is autherized ...</h1></center>
   
    </div>
</body>
</html>