<html>
 <head>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


 </head>
 <body>
  <ul class="nav-ul">
    <li class="nav-li"><a href="/"><i class="fa fa-home"></i>Home</a></li>
    <li class="nav-li"><a href="/login"><i class="fa fa-file-text"></i>Login</a></li>
    <li class="nav-li"><a href="/register"><i class="fa fa-file-text"></i>Register</a></li>
    <li class="nav-li"><a href="/secret"><i class="fa fa-file-text"></i>Secret</a></li>
    <li class="nav-li"><a href="/logout"><i class="fa fa-file-text"></i>Log-Out</a></li>
    <li class="nav-li"><a href="#"><i class="fa fa-newspaper-o"></i>About</a></li>
  </ul>
 </body>
</html>