body{
    background-color:lavenderblush;
    background-image: url("../img/index5.png");
    background-size: cover;
}

.nav-ul {
    font-size: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    word-spacing: 30px;
  }
  
  .nav-li {
      margin-right: 30px;
    float: left;
  }
  
  .nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .nav-li a:hover {
    background-color: #111;
  }
  .main{
      font-size: 25px;
      margin-top: 150px;
  }