 body {
 
    font-style: italic;
  
}

.header{
    font-size: 45px;
    padding: 10px;
    margin-top: 140px;
    color: maroon;
}
.img{
    width: 600px;
    height: 550px;
    margin-top: 30px;
margin-left: 30px;
}

.col {
    float: left;
    width: 50%;
    /* padding: 10px; */
    height: 50%; /* Should be removed. Only for demonstration */
  }
  .row {
    /* content: ""; */
    display: inline;
    /* clear: both; */
  }

.inputbox {
    background: #F1F1F1  no-repeat;
    background-position: 5px -7px !important;
    padding: 10px 10px 10px 25px;
    width: 270px;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
}
 .inputbox:focus {
    background-color: #FFF;
    border-color: #E8C291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #E8C291 inset;
    box-shadow: 0 0 0 1px #E8C291 inset;
}

.myButton {
	box-shadow:inset 0px 0px 14px -3px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:6px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:13px 41px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
