body{
    /* background-color: linen;
    font-size: 20px;
    align-content: center; */
    background-image: url('../img/register.jpg');
    
}
.container{
    width: 30%;
    height: 85%;
    margin-top: 5%;
    margin-left: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(247, 247, 247, 0.3);
    align-content: center;
    
    
}

.inputbox {
    background: #F1F1F1  no-repeat;
    background-position: 5px -7px !important;
    padding: 10px 10px 10px 25px;
    width: 270px;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
}
 .inputbox:focus {
    background-color: #FFF;
    border-color: #E8C291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #E8C291 inset;
    box-shadow: 0 0 0 1px #E8C291 inset;
}

.myButton {
	box-shadow:inset 0px 0px 14px -3px #276873;
	background:linear-gradient(to bottom, #0b333f 5%, #143c42 100%);
	background-color:#072a35;
	border-radius:6px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:13px 41px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #849297 100%);
	background-color:#435457;
}
.myButton:active {
	position:relative;
	top:1px;
}
.header{
    font-size: 30px;
    font-style: bold;
    color:seashell;
}
